{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>

<body>
    <header>
        <nav>
            <ul>
                {%if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <li class="text-white"> Blogify</li>
                    <li><a class="Cursor-pointer" href="{% url 'posts' %}">Posts</a></li>
                    <li><a class="Cursor-pointer bg-green-500 p-10" href="{% url 'create' %}">Add Post</a></li>
                    <button class="cursor cursor-pointer text-black bg-red-700 py-5" type="submit">
                        <i class="fas fa-sign-out-alt me-2"></i> Logout
                    </button>
                </form>
                {% else %}
<li class="text-white"> Blogify</li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
                <!-- Home url -->
            </ul>
        </nav>
    </header>

    <div class="content">
        {% block content %}
        <!-- Page-specific content goes here -->
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 Django Blog</p>
    </footer>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>