<!-- Login.html -->
{% extends 'blog/base.html' %}
 {% load static %}
 <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
 <script src="{% static 'js/login.js' %}"></script>
    {% block title %}Register - Django Blog{% endblock %}
   
    
    {% block content %}
     <h1>Register</h1>
     {% if form.errors %}
        <ul class="error-message">
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
    <p>Create a new account to start blogging</p>
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required aria-label="Username">

        <label for="email">Email</label>
        <input type="email" name="email" id="email" required aria-label="Email">

        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id="first_name" required aria-label="First Name">

        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" id="last_name" required aria-label="Last Name">

        <label for="password">Password</label>
        <input type="password" name="password1" id="password" required aria-label="Password">

        <label for="confirm_password">Confirm Password</label>
        <input type="password" name="password2" id="confirm_password" required aria-label="Confirm Password">

        <button type="submit">Register</button>
     </form>
     <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>

    {% endblock %}